*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --background-main: #f6f6f6;
  --background-modal: #d6e4f0;
  --text-primary: #163172;
  --text-secondary: #1e56a0;
  --border-color: #1e56a0;
  --button-background: #1e56a0;
  --button-hover-background: #163172;
  --button-text: #fff;
  --input-background: #fff; /* Ajustado para um fundo mais claro */
  --input-placeholder: #7a7a7a; /* Ajustado para um placeholder mais escuro */
  --input-border: #1e56a0; /* Ajustado para um border mais escuro */
}





body{
  background: #222831;
  color:#f2f2f2 ;
}
/* 
.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
} */

/* TEXTO AUXILIAR:#c5c5c5 */

/* PRINCIPAL #f2f2f2 */