*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --background-main: #f6f6f6;
  --background-modal: #d6e4f0;
  --text-primary: #163172;
  --text-secondary: #1e56a0;
  --border-color: #1e56a0;
  --button-background: #1e56a0;
  --button-hover-background: #163172;
  --button-text: #fff;
  --input-background: #fff;
  --input-placeholder: #7a7a7a;
  --input-border: #1e56a0; 
}






body{
  background: #222831;
  color:#f2f2f2 ;
}
